@import
	url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

head {
	height: 100vh;
}

body {
	text-align: center;
	background-color: #303133;
	color: #03aeb7;
	font-family: Montserrat Alternates;
}

h1 {
	color: #f78d31;
}

#tableHeader, #movieTable {
	color: #f78d31;
}

#movieTable {
	margin: auto;
}

img {
	height: 300px;
	width: 200px;
}

#movieTable th, #movieTable td {
	max-width: 250px;
}

#moviePoster {
	text-align: left;
	position: relative;
	top: 304px;
}

#headers, #moviePlot, #plotHeader, #moviePlot {
	text-align: left;
}

#headers {
	max-width: 420px;
	position: relative;
	bottom: 310px;
}

#directorsInfo{
	padding: 10px 0px;
}

#directorInfo h4{
	display: inline;
}

#actorsInfo{
	padding: 10px 0px;
}

#actorsInfo h4{
	display: inline;
}

#genreInfo{
	padding: 10px 0px;	
}

#genreInfo h4{
	display: inline;
}

#yearInfo{
	padding: 10px 0px;
}

#yearInfo h4{
	display: inline;
}

#lengthInfo{
	padding: 10px 0px;
}

#lengthInfo h4{
	display: inline;
}

#ratingInfo{
	padding: 10px 0px;
}

#ratingInfo h4{
	display: inline;
}

#infoPage {
	position: relative;
	bottom: 250px;
}

#movieTitle, #movieDirector, #movieActors, #movieGenre, #movieYear,
	#movieLength, #movieRating {
	color: #f78d31;
}

#textbox1 {
	text-align: center;
	width: 275px;
}

#player {
	width: 800px;
	position: relative;
	left: 220px;
}

#moviePlot, #btnBack {
	position: relative;
	bottom: 300px;
}